.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cars_mySwiper {
  .swiper-slide {
    background-color: #272933 !important;
    height: 400px;
    a {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      height: 100%;
      color: #fff !important;
      border-radius: 10px;
      &:hover {
        //   background: radial-gradient(circle, #272933, #3e3f5c, #7a8fb9);
        // background: linear-gradient(to right, #272933, #545c8a);
        background: linear-gradient(to right, #272933, #161723);
      }
    }
  }
}
