.serv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background: #1e1f27;
  color: #fff;
  &__wrapper {
    width: 1250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__img {
    width: 350px;
  }
  &__cards {
    display: flex;
    gap: 50px;
  }
  &__card {
    width: 350px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__text {
    font-weight: 200;
  }
  &__link {
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 260px;
    gap: 30px;
    transition: all 0.5s;
    &:hover {
      padding-left: 70px;
    }
  }
}
