.cars {
  width: 100%;
  background-color: #272933 !important;

  &_wrapper {
    color: white;
    padding-bottom: 30px;
    max-width: 1250px;
    min-height: 50vh;
    margin: auto;
    padding: 10px;
  }
  &_title {
    color: #fff !important;
  }
  &_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 30px;
    &_right {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &:hover {
        h4 {
          color: red;
          transition: color 0.5s ease, transform 0.5s ease; /* Rang va harakat animatsiyasi */
          font-weight: 300;
          transform: translateX(-20px); /* Chapga siljitish */
        }
        .cars_icon {
          color: red;
          transition: color 0.8s ease; /* Rang animatsiyasi */
        }
      }
    }
  }
  &_icon {
    font-size: 40px;
  }
  &_title {
    font-size: 30px;
  }
  &_img {
    width: 100% !important;
    height: 100%;
  }
  &_subtitle {
    font-size: 19px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  &_subtitle2 {
    margin-top: 10px;
    font-size: 19px;
    margin-bottom: 10px;
  }
  hr {
    margin-bottom: 10px;
  }
  &_span {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &_text {
    font-size: 15px;
    color: rgb(158 154 154);
    line-height: 10px;
    letter-spacing: 0.1rem;
  }
  &_section {
    margin-bottom: 80px;
  }
}
